[submodule "vendor/PureModLoader"]
	path = vendor/PureModLoader
	url = https://github.com/KanuX-14/PureModLoader.git
[submodule "vendor/SDL"]
	path = vendor/SDL
	url = https://github.com/libsdl-org/SDL.git
